<!DOCTYPE html>
<html lang="en">
<!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
<body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<main>
    <h1>Captain's Log Index as of <%= time %> </h1>
    <ul class="logs-index">
        <% for (let i =0; i < logs.length; i++) { %>
            <li>
                The title of this log is:
                <a href="/logs/<%=logs[i].id; %>">
                     <%=logs[i].title; %>
                </a>
            </li>
            <!-- DELETE FORM -->
            <form action="/logs/<%=logs[i].id; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form>
             <!-- EDIT LINK -->
            <a href="/logs/<%=logs[i].id %>/edit"><button>EDIT LOG</button></a>
            <br><br><br>
        <% } %>
    </ul> <br><br>
</main>

    <a href="/logs/new"><button>Create A New Log</button></a>
</body>
</html>
