<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

  <section class="hero is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large">Captain's Log</p>
        <p class="subtitle">Index as of <%= time %> Eastern Standard Time</p>
      </div>
    </section>
        <br>

<ul>
  <% for (let i =0; i < logs.length; i++) { %>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
        <li>
            <h1 class="title"><a href="/logs/<%=logs[i].id; %>"> <%=logs[i].title; %> </a></h1>
        </li>

        <!-- EDIT LINK -->
        <a href="/logs/<%=logs[i].id %>/edit" class="edit-button"><button class="button is-ghost">Edit Log</button></a>
      </p>
      <br /><br /><br />
      <!-- DELETE FORM -->
      <p class="subtitle">
      <form action="/logs/<%=logs[i].id; %>?_method=DELETE" method="POST" class="delete-button">
            <input type="submit" value="DELETE LOG" />
      </form>

        </article>
        </div>
        </div>
        </div>
        </div>
        <% } %>
        </ul>
        <br /><br />
  </main>


    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
