<!DOCTYPE html>
<html lang="en">
<!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
<body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>


  <section class="hero is-primary is-small has-text-centered">
      <div class="hero-body">
        <p class="title is-large">Captain's Log</p>
        <p class="subtitle"><%= log.title %></p>
      </div>
    </section>
        <br>

<main>
        <div class="logs-show">
            <div class="box">
            <strong>Title: </strong>
            <%= log.title %> <br><br>
            <strong>Entry: </strong>
            <%= log.entry %> <br><br>
            <strong>Ship Condition: </strong>
            <% if (log.shipIsBroken === true) { %>
                <p class="ship-alert-red">The ship is broken!</p>
            <% } else { %>
                <p class="ship-alert-green"> The ship is in good condition! </p>
                <% } %>
                <br><br>
            </div>
            </div>
            <br>
            <!-- INDEX LINK -->
            <a href="/logs/index"><button class="button is-normal is-fullwidth is-outlined" id="create-button">Return To Index Page</button></a><br>

                <div class="box" id="logger-box">
                <ul>
               <li> Log created at <%= log.createdAt %> </li>
               <li> Log updated at <%= log.updatedAt %> </li>
        </ul>
        </div>
</main>
<br>


</body>
</html>
